@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
/*Global*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    scroll-behavior: smooth;
}
h1, h2, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
:root{
    --pink: hsl(322, 100%, 66%);
    --pale-cyan: hsl(193, 100%, 96%);
    --dark-cyan: hsl(192, 100%, 13%);
    --grayish-blue: hsl(208, 11%, 55%);
}
/*buttons*/
.btn{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 17px 64px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn.primary{
    background: white;
}
.btn.secondary{
    color: white;
    background: var(--pink);
}
/*HERO-SECTION*/
.hero-section{
    height: 100vh;
    background: var(--pale-cyan) url(images/bg-hero-desktop.svg) no-repeat ;
    padding: 36px 59px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.logo .img-logo{
    height: 26px;
    width: auto;
}
.hero-content{
    display: flex;
    align-items: center;
}
.hero-content .text-info{
    flex: 1;
}
.hero-content .text-info p{
    margin: 25px 0;
}
.hero-content .illustration{
    flex: 1;  
}
.hero-content .illustration img{
    width: 100%;
    height: auto;
}
/*Features section*/
.features-section{
    padding: 100px 59px 200px 59px;
    position: relative;
}
.feature{
    display: flex;
    height: 400px;
    margin-bottom: 45px;
    padding: 55px 55px 55px 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    border-radius: 20px;
}
.feature .text-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.feature .text-info p{
    color: var(--grayish-blue);
}
.feature .illustration{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.feature .illustration img{
   height: 90%; 
}

.feature:nth-child(even){
    flex-direction: row-reverse;
}
.feature:nth-child(even) .illustration{
    justify-content: flex-start;
}

.cta{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-width: 600px;
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -80px;
    z-index: 10;
    background: white;
    left: 50%;
    transform: translateX(-50%);
}
.cta h2{
    margin-bottom: 20px;
}
/*footer*/
footer{
    background: var(--dark-cyan);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 70px 70px 70px;
    font-size:  14px;
    position: relative;
}
footer .logo img{
    height: 26px;

}
footer .contact{
    width: 100%;
    max-width: 358px;
    margin-right: 2rem;
}
footer .contact p{
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
}
footer .contact p img{
    height: 14px;
    margin-right: 15px;
    margin-top: 3px;
}
.footer-links{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
.footer-links .links{
    display: flex;
    flex-direction: column;
}
.footer-links a{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}
.footer-links a:hover{
    text-decoration: underline;
}
footer .socials{
    font-size: 20px;
}
.copyright{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 12px;
}
/*Media querries*/
@media (max-width : 376px){
    .hero-section{
        padding: 2px;
        background: var(--pale-cyan)  url(images/bg-hero-mobile.svg) no-repeat;
    }
    nav{
        margin: 10px 5px;
    }
    .btn{
        padding: 10px 30px;
    }
    .logo img{
        height: 15px;
    }
    .hero-content{
        flex-direction: column;
    }
    .hero-content .text-info{
        text-align: center;
        margin: 3rem 0;;
    }
    .features-section{
        padding: 100px 20px 200px 20px;
    }
    .features-section h2{
        font-size: 25px;
    }
    .feature{
        flex-direction: column-reverse;
        text-align: center;
        height: 500px;
        padding: 30px 20px;
    }
    .feature .illustration img{
        height: auto;
        width: 90%;
    }
    .feature:nth-child(even){
        flex-direction: column-reverse;
    }
    .cta{
        text-align: center;
        width: 340px;
        padding: 30px 0;
    }
    .cta h2{
        font-size: 18px;
    }
    footer{
        flex-direction: column;
        align-items: flex-start;
        padding: 150px 30px 70px 30px ;
    }
    .footer-links{
        flex-direction: column;
        margin-top: 2rem;
    }
    footer .socials{
        align-self: center;
    }
    .copyright{
        right: 50%;
        transform: translateX(50%);
        max-width:300px ;
        width: 100%;
    }
}

















